footer {
    height: 70px;
    width: 100%;
    background-color: $celeste-argentina;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    p {
        font-size: 2rem;
        color: white;
        margin: 0;
        text-align: center;
    }
}