#form_last_name {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $celeste-argentina;
    background-color: #91d7f1;
}

#total {
    text-align: center;
    font-size: 2rem;
    
}